/* CSS Document */
ul li{
	list-style:none;
}
.portlet.box.blue {
border: 1px solid #b4cef8;
border-top: 0;
}
.portlet.box {
padding: 0px !important;
}
.tabbable:before, .tabbable:after {
display: table;
line-height: 0;
content: "";
}
.portlet.box.blue .portlet-title {
background-color: #4b8df8;
}
.portlet.box .portlet-title {
margin-bottom: 0px;
}
.portlet.box .portlet-title {
padding: 8px 10px 2px 10px;
border-bottom: 1px solid #eee;
color: #fff !important;
}
.portlet-title {
margin-bottom: 15px;
border-bottom: 1px solid #eee;
}
.portlet-title:after {
clear: both;
}

.portlet-title:after, .portlet-title:before {
content: "";
display: table;
line-height: 0;
}
.portlet-title .caption {
float: left;
display: inline-block;
font-size: 18px;
font-weight: 400;
margin: 0;
padding: 0;
margin-bottom: 7px;
}

.portlet {
clear: both;
margin-top: 0px;
margin-bottom: 25px;
padding: 0px;
}
.portlet-tabs .nav-tabs {
border-bottom: none;
}
.portlet-tabs .nav-tabs {
position: relative;
top: -41px;
margin-right: 10px;
overflow: hidden;
}
.portlet-tabs .nav-tabs > li.active > a {
margin-bottom: 0px;
border-bottom: 0;
margin-left: 0px;
margin-right: 0px;
border-left: 0;
border-right: 0;
background-color: none !important;
border-top-color: transparent !important;
}
.portlet-tabs .nav-tabs > li:last-child > a {
border-right: 0;
}
.portlet-tabs .nav-tabs > .active > a {
color: #555555;
cursor: default;
background-color: #fff;
}

.portlet-tabs .nav-tabs > li {
margin-left: 1px;
}
.portlet-tabs .nav-tabs > li {
float: right;
}
.portlet-tabs .nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 10px;
line-height: 16px;
margin-top: -4px;
margin-left: 0px;
margin-right: 0px;
border-left: 0;
border-right: 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.portlet-tabs .tab-content {
padding: 10px !important;
margin: 0px;
}
.tab-content {
padding: 0px;
}

.portlet.tabbable .portlet-body {
padding: 0px;
}
.portlet.box .portlet-body {
background-color: #fff;
padding: 10px;
}
.portlet-body {
clear: both;
padding: 0;
}

.form-horizontal .control-group {
margin-bottom: 20px;
}
.form-horizontal .control-label {
float: left;
width: 160px;
padding-top: 5px;
text-align: right;
}
.control-label {
margin-top: 2px;
}
label {
display: block;
margin-bottom: 5px;
}
label, input, button, select, textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
.form-horizontal .controls {
margin-left: 180px;
padding-top:1px;
}
div, input, select, textarea, span, img, table, td, th, p, a, button, ul, li {
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
}
user agent stylesheetdiv {
display: block;
}
.uneditable-input, textarea.m-wrap, input[type="text"].m-wrap, input[type="password"].m-wrap, input[type="datetime"].m-wrap, input[type="datetime-local"].m-wrap, input[type="date"].m-wrap, input[type="month"].m-wrap, input[type="time"].m-wrap, input[type="week"].m-wrap, input[type="number"].m-wrap, input[type="email"].m-wrap, input[type="url"].m-wrap, input[type="search"].m-wrap, input[type="tel"].m-wrap, input[type="color"].m-wrap {
-webkit-appearance: none !important;
color: #333333;
outline: 0;
height: 20px;
padding: 6px 6px !important;
line-height: 20px;
font-size: 14px;
font-weight: normal;
vertical-align: top;
background-color: #ffffff;
background-image: none !important;
filter: none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background: transparent;
}
.m-wrap.small {
width: 120px !important;
}
input.m-wrap {
border: 1px solid #e5e5e5;
}
.controls>.radio:first-child, .controls>.checkbox:first-child {
padding-top: 5px;
}
.controls > .radio, .controls > .checkbox {
display: inline-block;
padding: 0 !important;
margin: 0 !important;
margin-top: 8px !important;
margin-right: 15px !important;
}
div.radio {
margin-right: 3px;
}
div.radio, div.radio span, div.radio input {
width: 18px;
height: 18px;
}
div.radio {
position: relative;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
float: left;
margin-left: -20px;
}
div.radio input {
opacity: 0;
filter: alpha(opacity=0);
-moz-opacity: 0;
border: none;
background: none;
display: -moz-inline-box;
display: inline-block;
zoom: 1;
text-align: center;
}
div.radio, div.radio span, div.radio input {
width: 18px;
height: 18px;
}
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
margin: 0;
padding: 0;
}
div.radio span {
display: -moz-inline-box;
display: inline-block;
zoom: 1;
text-align: center;
background-position: 0 -279px;
}
.form .form-actions {
margin-top: 0px !important;
margin-top: 40px;
padding-left: 190px;
}
.form-horizontal .form-actions {
padding-left: 180px;
}
.form-actions {
padding: 19px 20px 20px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #f5f5f5;
border-top: 1px solid #e5e5e5;
}

/***
Forms
***/
label.m-wrap,
input.m-wrap,
button.m-wrap,
select.m-wrap,
textarea.m-wrap {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

}

input.m-wrap,
button.m-wrap,
select.m-wrap,
textarea.m-wrap {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label.m-wrap {
  display: block;
  margin-bottom: 5px;
}

.uneditable-input,
textarea.m-wrap,
input[type="text"].m-wrap,
input[type="password"].m-wrap,
input[type="datetime"].m-wrap,
input[type="datetime-local"].m-wrap,
input[type="date"].m-wrap,
input[type="month"].m-wrap,
input[type="time"].m-wrap,
input[type="week"].m-wrap,
input[type="number"].m-wrap,
input[type="email"].m-wrap,
input[type="url"].m-wrap,
input[type="search"].m-wrap,
input[type="tel"].m-wrap,
input[type="color"].m-wrap {
  -webkit-appearance: none !important;   
	color: #333333; 		
  outline: 0;
  height: 20px;
	padding: 6px 6px !important;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
  vertical-align: top;  
	background-color: #ffffff;
	background-image: none !important;
  filter: none !important;
	  -webkit-box-shadow: none !important;
	     -moz-box-shadow: none !important;
	          box-shadow: none !important;
	  -webkit-border-radius: 0px;
	     -moz-border-radius: 0px;
	          border-radius: 0px;
  background: transparent;   
}

input.m-wrap {
  border: 1px solid #e5e5e5;
}

textarea.m-wrap {
  height: auto;
}

.uneditable-input.focus,
textarea.m-wrap:focus,
select.m-wrap:focus,
input[type="text"].m-wrap:focus,
input[type="password"].m-wrap:focus,
input[type="datetime"].m-wrap:focus,
input[type="datetime-local"].m-wrap:focus,
input[type="date"].m-wrap:focus,
input[type="month"].m-wrap:focus,
input[type="time"].m-wrap:focus,
input[type="week"].m-wrap:focus,
input[type="number"].m-wrap:focus,
input[type="email"].m-wrap:focus,
input[type="url"].m-wrap:focus,
input[type="search"].m-wrap:focus,
input[type="tel"].m-wrap:focus,
input[type="color"].m-wrap:focus,
.m-uneditable-input:focus {
  border-color: #999999;
  outline: 0 !important;
  /* IE6-9 */
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;      
}

input[disabled],
select[disabled],
textarea[disabled] {
  cursor: not-allowed;
  background-color: #F4F4F4 !important;
}

input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #F9F9F9 !important;
}


input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

input[type="radio"].m-wrap,
input[type="checkbox"].m-wrap {
  	margin: 4px 0 0;
  	margin-top: 1px \9;
  	*margin-top: 0;
  	line-height: normal;
	  cursor: pointer;		
  	-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;		
}

select.m-wrap,
input[type="file"].m-wrap {
  height: 34px !important;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 30px;
}

select.m-wrap {
  background-color: #ffffff;
  background-image: none !important;
  filter: none !important;
  border: 1px solid #e5e5e5;
  outline: none;          
}

select[multiple].m-wrap,
select[size].m-wrap {
  height: auto !important;
}
select.form-select-w{
	width:100% !important;
}

select.m-wrap:focus,
input[type="file"].m-wrap:focus,
input[type="radio"].m-wrap:focus,
input[type="checkbox"].m-wrap:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;  
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

input[class*="span"].m-wrap
{
  float: none;
  height: 34px !important;
  margin-left: 0;
}

select[class*="span"].m-wrap,
textarea[class*="span"].m-wrap
{
  float: none;
  margin-left: 0;
}

.input-prepend,
.input-append {
	border: 0;
  display: inline-block;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 24px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

.input-append .add-on > .halflings-icon,
.input-prepend .add-on > i,
.input-prepend .add-on > [class^="icon-"]
{
	margin-top: 5px;
	margin-left: 3px;
}

.input-append .add-on > .halflings-icon
.input-append .add-on > i,
.input-append .add-on > [class^="icon-"]
{
	margin-top: 5px;
	margin-left: 0px;
}

.input-append .m-wrap,
.input-append .m-wrap:focus {
	border-right: 0 !important;
  margin-right: 1px;
}

.input-prepend input,
.input-prepend input:focus {
	border-left: 0 !important;
  margin-left: 1px;
}

.input-append input[class*="span"],
.input-prepend input[class*="span"]
{
  display: inline-block !important;
}

.m-wrap.xsmall {
  width: 50px !important;
}

.m-wrap.small {
  width: 120px !important;
}

.m-wrap.medium {
  width: 206px !important;
}

.m-wrap.large {
  width: 320px !important;
}

.m-wrap.huge {
  width: 480px !important;
  font-size: 24px !important;
  height: 36px !important;
  line-height: 36px !important;
  padding: 22px 8px !important;
}

select.m-wrap.xsmall {
  width: 64px !important;
}

select.m-wrap.small {
  width: 134px !important;
}

select.m-wrap.medium {
  width: 220px !important;
}

select.m-wrap.large {
  width: 334px !important;
}

@media (max-width: 480px) {

  .m-wrap.small {
    width: 100px !important;
  }

  .m-wrap.medium {
    width: 150px !important;
  }

  .m-wrap.large {
    width: 200px !important;
  }

  .m-wrap.huge {
    width: 246px !important;
    font-size: 24px !important;
    height: 36px !important;
    line-height: 36px !important;
    padding: 22px 8px !important;
  }

  select.m-wrap.small {
    width: 114px !important;
  }

  select.m-wrap.medium {
    width: 164px !important;
  }

  select.m-wrap.large {
    width: 214px !important;
  }

}
.controls > .radio.line, .controls > .checkbox.line {
display: block;
padding: 0 !important;
margin: 0 !important;
margin-top: 5px !important;
}
.controls > .radio, .controls > .checkbox {
display: inline-block;
padding: 0 !important;
margin: 0 !important;
margin-top: 8px !important;
margin-right: 15px !important;
}
.radio, .checkbox {
padding-left: 0px !important;
}
div.radio span {
display: -moz-inline-box;
display: inline-block;
zoom: 1;
text-align: center;
background-position: 0 -279px;
}
div.radio, div.radio span, div.radio input {
width: 18px;
height: 18px;
}
div.radio, div.radio span, div.radio input {
width: 18px;
height: 18px;
}
.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
color: #b94a48;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#23527C !important;
}
.nav-pills{
	padding-left:none;
}
.nav-pills > li+li{
	margin:0px !important;
}
.full_width{
	width:100%;
}
.gray{
	background-color:#ccc;
}
.form-horizontal .radio{
	padding-top:0px !important;
}