/* CSS Document */
/*navbar li*/
body{
	background-color:#F2F2F2;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav-info {
	position:relative;
	top:-3px;
}
.navbar{
	min-height:45px !important;
	margin-bottom:0px !important;
}
.navbar-default{
	background-color:#438EB9;
}
.navbar-bg{
	background-color:#438EB9;
}
.light-blue {
	background-color:#9BCDFF;
}
.light-green{
	background-color:#87B87F;
}
.light-orange{
	background-color:#FFB752;
}

.navbar-header.pull-right li a{
	color:#FFF;
	height:45px;
}
.navbar .nav li a:focus{
	background:none;
}

.navbar-header.pull-right .welcome a{
	color:#fff;
}
.navbar-header.pull-right li a:hover{
	background:none;
}

.navbar-header.pull-right li{
	float:left;
	height:45px;
	max-height:45x;
	margin-left:2px;
}

.nav [class*="glyphicon-"] {
	height:auto;
	line-height:25px;
}
.badge-red{
	background-color:#0093D9
}
.glyphicon-user{
	font-size:26px;
}
.navbar .nav>li>.dropdown-menu li{
	width:238px;
	height:40px;
	padding:0px;
	border-radius:0px !important;
	margin:0px;
}
.navbar .nav>li>.dropdown-menu li a{
	height:40px;
	list-style: none;
	border-bottom: 1px solid #f4f4f4 !important;
	font-size: 12px;
	text-shadow: none;
	padding: 5px !important;
	padding-left:14px !important;
	background-color: #ffffff;
	color:#646464;
	line-height:32px;
	display:block;
	white-space:normal;
}
.welcome .dropdown-menu{
	width:140px;
	min-width:145px !important;
}
.welcome .dropdown-menu li,.welcome .dropdown-menu li a{
	width:140px!important;
	border:none !important;
}
.welcome .dropdown-menu li:last-child{
	text-decoration:none !important;
	font-style:normal !important;
	text-align:left !important;
}
.navbar .nav>.welcome>.dropdown-menu li a{
	border-bottom:none !important;
}
.navbar .nav>li>.dropdown-menu li:last-child{
	text-decoration:underline;
	font-style:italic;
	text-align:center;
}
.navbar .nav>li>.dropdown-menu li a:hover{
	background-color:#F8F8F9;
}
.navbar .nav>li>.dropdown-navbar{
	width:240px;
	border-color: #bcd4e5;
	padding:0;
}
.navbar .nav>li>.dropdown-menu:after{
	position:absolute;
	top:-6px;
	right:10px;
	display:inline-block;
	border-right:6px solid transparent;
	border-bottom:6px solid #D6E9F9;
	border-left:6px solid transparent;
	content:'';
}
.navbar .nav>li:last-child>.dropdown-menu:after{
	position:absolute;
	top:-6px;
	right:10px;
	display:inline-block;
	border-right:6px solid transparent;
	border-bottom:6px solid #fff;
	border-left:6px solid transparent;
	content:'';
}
.navbar .nav>li>.dropdown-menu>.dropdown-header{
	width:238px;
	text-shadow: none;
	padding-bottom: 0;
	padding-left:15px;
	line-height: 40px;
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
	border-bottom: 1px solid;
	background-color: #ecf2f7!important;
	color: #8090a0;
	border-bottom-color: #bcd4e5;
	margin:0 auto;
}
.task-bg{
	color:#9BCDFF;
	font-size:14px;
	top:4px;
}
.info-bg{
	color:#87B87F;
	font-size:14px;
	top:2px;
}
.message-bg{
	color:#808080;
	font-size:14px;
	top:4px;
}
.myinfo{
	font-size:13px;
	top:2px;
}
.navbar .nav>li>.dropdown-menu .divider{
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff;
}
